.rest_list {
    height: 1200px;
    overflow: scroll;

}
.full-height{
    height:100%;
}
.no {
    background-image: none;
}
body {
    font-family: 'Assistant', sans-serif;
    /* background-image: url("../images/covid5.png"); */
}
.shadow {
    text-shadow: 2px 2px 4px #000000;
}

#legend {
    background: #fff;
    padding: 10px;
    margin: 10px;
    
    border: .5px solid grey;
  }

.logo {
    height: 60px;
  }

#big_logo {
    height: 100px;
}

.logo-nav {
    height: 60px;
}

.fa-star, .fa-star-half-alt {
    color:#ffc107;
}

#fauci_approved {
    height: 50px;
}

.textarea {
    width: 500px;
    height: 100px;
    font-size:13pt;
}


.nav-wrapper {
    background-color:#80cbc4 ;
}

button {
    background: #FBA100;
    border-radius: 30%;
}

.carousel 
.carousel-item {
    width: 500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
 .bg-image{
    background: url(../images/bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.center {
    text-align: center;
}

.fa-search-location {
size: 6x;
}

.padding {
    padding-top: 20px;
}
.padding-btm {
    padding-bottom: 20px;
}
.padding-btm-2 {
    padding-bottom: 35px;
}
.padding-big {
    padding-top: 90px;
}
.center-button {
    margin: 0 auto;
    display: block;
}

.create-account {
    border: solid black;
}

.medium {
    padding-right:10px;
}


.no-bg {
    background-image: white ;
    }

.padding-right {
    padding-left: 20px;
}

.padding-left {
    padding-left: 30px;
}

.text-box {
  
  background-color: rgba(255,255,255, 0.8); /* Black w/opacity/see-through */
  color: black;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 80%;
  padding: 20px;
  
}

.pad {
    padding:30px
}

.bold {
    font-weight: bolder;
    font-size: large;
}

