.rest_list {
    height: 1200px;
    overflow: scroll;

}
body {
    font-family: 'Assistant', sans-serif;
}
.shadow {
    text-shadow: 2px 2px 4px #000000;
}
#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
  }

.logo {
    height: 60px;
  }

#big_logo {
    height: 100px;
}

.logo-nav {
    height: 60px;
}

.fa-star, .fa-star-half-alt {
    color:orange;
}

#fauci_approved {
    height: 50px;
}

.textarea {
    width: 500px;
    height: 100px;
    font-size:13pt;
}

.create_account, .login {
    padding-top:50px;
}

.nav-wrapper {
    background-color:#80cbc4 ;
}

button {
    background: #FBA100;
    border-radius: 30%;
}
.carousel {
    padding-top: 0;
}
.carousel 
.carousel-item {
    width: 500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .bg-image {
    background-image: url("https://images.unsplash.com/photo-1546195643-70f48f9c5b87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    text-align: center;
}

.fa-search-location {
size: 6x;
}

.padding {
    padding-top: 20px;
}
.center-button {
    margin: 0 auto;
    display: block;
}